.todoWrapperClass {
  .paper {
    padding: 0 10px 20px;
    width: 258px;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
