.inputRoot {
  width: 200px;
  color: white !important;
  border-bottom: 1px solid white !important;
}

.inputDisabled {
  color: gray !important;
  border-color: gray !important;
}

.labelRoot {
  color: white !important;
}

.labelDisabled {
  color: gray !important;
}


.clearButton {
  margin: 0 0 4px 4px !important;
  padding: 0 !important;
  color: white !important;
}

.searchIconWrapper {
  color: white !important;
}
